language: node_js
node_js:
  - "8"
addons:
  apt:
    packages:
      - "python"
      - "python3"
before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi
before_script:
  - npm run lint
