name: GitHub Actions CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['2.7', '3.6', '3.7', '3.8']
    runs-on: ${{ matrix.os }}
    steps:
    - name: Cleanup pre-installed tools
      if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest' }}
      run: |
        # This is a fix for https://github.com/actions/virtual-environments/issues/1918
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install Node.js dependencies
      run: npm ci
    - name: Build
      run: npm run build --if-present
    - name: Lint
      run: npm run lint
    - name: Audit
      run: npm audit --production
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Show PYTHONPATH
      run: |
        which python
        python -c "import sys; print(sys.path)"
      shell: bash
    - name: Run tests
      uses: GabrielBB/xvfb-action@v1
      with:
        run: npm test
